@charset "utf-8";

/************* Reset CSS *************/
/* 清除内外边距 */
html, body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, iframe, legend, label, button, input, textarea, /* form elements 表单元素 */
tr, th, td {
    /* table elements 表格元素 */
    margin: 0;
    padding: 0;

    font: 12px Arial, Verdana, "\5b8b\4f53", "microsoft yahei";
    color: #666;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

em, i, u {
    font-style: normal;
}

address, cite, dfn, var {
    font-style: normal;
}

/* 将斜体扶正 */
code, kbd, pre, samp, tt {
    font-family: "Courier New", Courier, monospace;
}

/* 统一等宽字体 */
small {
    font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol {
    list-style: none;
}

/* 重置文本格式元素 */
a {
    color: #666;
    text-decoration: none;
}

/* 重置表单元素 */
fieldset, img, button {
    border: none;
    vertical-align: middle;
}

/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

img, iframe, table, form {
    vertical-align: top;
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

.w {
    width: 1210px;
    margin: 0 auto;
}

body {
    -webkit-font-smoothing: antialiased;
}

/************* Reset CSS *************/

/************  Nav  ************/
.shortcut-2016 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #F1F1F1;
}

.shortcut-2016 .w {
    width: 1210px;
    height: 30px;
    margin: 0 auto;
}

.dropDown {
    float: left;
    padding: 0 25px 0 0;
    line-height: 30px;
    height: 30px;
}

.dropDown:hover .div-1 span {
    font: 400 15px/14px consolas;
}

.div-1 {
    position: relative;
    top: -22px;
    right: -56px;
    width: 18px;
    height: 15px;
}

.div-1 span {
    position: absolute;
    top: 4px;
    right: 2px;
    height: 7px;
    overflow: hidden;
    font: 400 15px/1px consolas;
    color: #6A6A6A;
}

.f1 .dropDown {
    padding: 0 20px 0 5px;
}

.dropDown .div-2 {
    width: 80px;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 27px;
    top: 29px;
    display: none;
    z-index: 11;
}

.dropDown ul {
    width: 255px;
    padding: 10px 0 10px 10px;
    position: absolute;
    top: 30px;
    left: 27px;
    background: #fff;
    border: 1px solid #ddd;
    z-index: 10;
    display: none;
}

.dropDown ul li {
    float: left;
    width: 60px;
    padding: 2px 0;
    text-align: center;
}

.dropDown ul li.bg {
    background: #C81623;
}

.dropDown ul li.bg a {
    color: #fff;
}

.dropDown ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.dropDown:hover ul {
    display: block;
}

.dropDown ul li:hover {
    background: #ddd;
}

.dropDown ul li:hover a {
    color: red;
}

.dropDown:hover .div-2 {
    display: block;
}

.f1 .dropDown a {
    color: #666;
}

.f1 .dropDown:hover {
    background: #FFFFFF;
}

.spaceLi:hover {
    background: #FFFFFF;
}

.shortcut-2016 .w .navTop {
    float: right;
    height: 30px;
}

.shortcut-2016 li {
    position: relative;
    height: 30px;
    float: left;
    line-height: 30px;
    padding: 0 8px;
    margin-left: 3px;
}

.flash {
    position: absolute;
    left: -45px;
    top: 30px;
    z-index: 2;
    width: 0;
    height: 0;
    opacity: 0;
    /*display: none;*/
    transform-style: preserve-3d;
    perspective: 2000px;
    transition: all 0.3s linear 0s;
}

.spaceLi:hover .flash {
    width: 192px;
    height: 198px;
    opacity: 1;
}
/*--------CSS3 小玩意儿---------*/
.flash img {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
:;
    transform: translateZ(-10000px) rotateZ(0deg);
    -webkit-transition: all .7s linear 0s;
    -moz-transition: all .7s linear 0s;
    -ms-transition: all .7s linear 0s;
    -o-transition: all .7s linear 0s;
    transition: all .7s linear 0s;
}

.spaceLi:hover .flash img {
    transform: translateZ(0px) rotateZ(720deg);
}

.shortcut-2016 li a {
    color: #666;
}

.shortcut-2016 .w .navTop .firLi .firA {
    color: #C81623;
    margin-right: 4px;
}

.shortcut-2016 li .shu {
    position: absolute;
    top: 9px;
    right: -2px;
    display: inline-block;
    width: 1px;
    height: 13px;
    background: #666666;
}

.shortcut-2016 .phone-nav {
    padding-left: 20px;;
}

.shortcut-2016 li em {
    position: absolute;
    top: 5px;
    left: 4px;
    width: 15px;
    height: 20px;
    background: url("../img/jd2015img.png") no-repeat 0 0;
}

.shortcut-2016 .phone-nav:hover em {
    background-position: 0 -25px;
}

#body .hover a:hover {
    color: #C81623;
}

/*************Nav Top  END***************/

#imgTop {
    width: 100%;
    background: #f3602d;
    position: relative;
}

#imgTop img {
    display: block;
    width: 1210px;
    margin: 0 auto;
    height: 120px;
}

#imgTop em {
    background: url("../img/navxxx.png") no-repeat 0 0;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 5px;
    right: 35px;
    cursor: pointer;
}

#imgTop em:hover {
    background-position: 0 -19px;
}

.search {
    width: 1210px;
    height: 100px;
    margin: 0 auto;
}

.search .loge {
    display: block;
    float: left;
    width: 362px;
    height: 100px;
}

.search img {
    float: left;
    margin: 20px 0;
    width: 270px;
    height: 60px;
}

.search .search-2016 {
    float: left;
    width: 538px;
    height: 40px;
    margin-top: 25px;
}

.search input {
    float: left;
    outline: none;
    width: 444px;
    height: 24px;
    border: 2px solid #B61D1D;
    border-right: none;
    padding: 4px;
    line-height: 24px;
}

.search-2016 span {
    float: left;
    width: 82px;
    height: 36px;
    line-height: 36px;
    color: #FFF;
    background: #B61D1D;
    font-size: 16px;
    font-family: "microsoft yahei";
    text-align: center;
    cursor: pointer;
}

.search .settleUp-2016 {
    float: right;
    width: 141px;
    height: 36px;
    background: #F9F9F9;
    position: relative;
    margin-top: 25px;
    margin-right: 65px;
    border: 1px solid #DFDFDF;
}

.settleUp-2016 .ci-left {
    position: absolute;
    top: 10px;
    left: 18px;
    width: 18px;
    height: 16px;
    background: url("../img/jd2015img.png") no-repeat 0 -58px;
}

.settleUp-2016 .content {
    line-height: 36px;
    color: #666;
    margin-left: 46px;
}

.settleUp-2016 .ci-right {
    position: absolute;
    top: 11px;
    right: 10px;
    width: 7px;
    height: 13px;
    overflow: hidden;
    font: 400 13px/13px simsun;
    color: #999;
}

.settleUp-2016 .ci-top {
    position: absolute;
    top: -4px;
    left: 104px;
    height: 14px;
    width: 8px;
    display: inline-block;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    background-color: #c81623;
    border-radius: 7px 7px 7px 0;
    min-width: 12px;
    text-align: center;
    font-style: normal;
}

.settleUp-2016 .ci-hide {
    padding: 10px 20px;
    width: 250px;
    height: 49px;
    line-height: 49px;
    border: 1px solid #DFDFDF;
    overflow: hidden;
    color: #999;
    position: absolute;
    top: 36px;
    left: -150px;
    z-index: 5;
    background: #FFFFFF;
    display: none;
    box-shadow: 0 0 0px 1px #DFDFDF;
}

.settleUp-2016:hover .ci-hide {
    display: block;
}

.settleUp-2016:hover .heng {
    display: block;
}

.settleUp-2016 .ci-hide b {
    float: left;
    width: 56px;
    height: 49px;
    background-image: url(../img/settleup-nogoods.png);
}

.settleUp-2016:hover {
    background: #FFFFFF;
    border-bottom: #FFFFFF;
    box-shadow: 0 0 0 1px #DFDFDF;
}

.settleUp-2016 .heng {
    position: absolute;
    left: 0;
    top: 34px;
    z-index: 6;
    width: 141px;
    height: 4px;
    background: #FFFFFF;
    display: none;
}

.search .hotWord {
    float: left;
    width: 518px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;
}

.search .hotWord a {
    float: left;
    margin-right: 10px;
    color: #666;
}

.search .hotWord .firWord {
    color: #C81623;
}

.nav-2016 {
    width: 100%;
    height: 44px;
    border-bottom: 2px solid #B1191A;
}

.nav-2016 .w {
    height: 100%;
    line-height: 44px;
}

.nav-2016 .navL {
    width: 210px;
    float: left;
}

.nav-2016 .navL a {
    display: block;
    width: 190px;
    height: 44px;
    padding: 0 10px;
    background: #B1191A;
    font: 400 15px/44px "microsoft yahei";
    color: #fff;
    text-decoration: none;
}

.nav-2016 .navItems-2014 {
    float: left;
    width: 696px;
    height: 100%;
}

.nav-2016 .navItems-2014 li {
    float: left;
}

.nav-2016 .navItems-2014 a {
    height: 42px;
    padding: 0 20px;
    text-align: center;
    font: 400 15px/44px "microsoft yahei";
    font-size: 16px;
    color: #333;
}

.nav-2016 .smallL {
    float: left;
    margin-top: 7px;
    margin-left: 55px;
    width: 100px;
    height: 38px;
}

.nav-2016 .smallL a {
    display: block;
    width: 100%;
    height: 30px;
    background: url("../img/smaal.jpg") no-repeat 0 0;
}

/************  NAV  END  ******************/
.menu {
    clear: both;
    width: 100%;
    height: 613px;
    background: url("../img/NAV.jpg") no-repeat 0 0;
    background-size: 100% 100%;
}

.menu .w {
    overflow: hidden;
}

.menu .catalog {
    float: left;
    width: 210px;
    height: 466px;
}

.menu .catalog ul {
    position: absolute;
}

.menu .catalog .firLi {
    width: 209px;
    height: 29px;
    background: #b61d1d;
    color: #FFF;
    border: 1px solid #b61d1d;
    border-right: none;
}

.menu .catalog .firLi .firDiv {
    width: 200px;
    height: 29px;
    padding-left: 9px;
    position: relative;
}

.menu .catalog .firDiv .firA {
    display: inline-block;
    line-height: 29px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.menu .catalog .firLi:hover {
    background: #fff;
    color: #b61d1d;
}

.menu .catalog .firLi:hover .secdiv {
    display: block;
}

.menu .catalog .firLi:hover .firA {
    color: #b61d1d;
}

.menu .catalog .firLi:hover i {
    display: none;
}

.menu .catalog .firDiv i {
    position: absolute;
    z-index: 1;
    top: 9px;
    right: 14px;
    width: 4px;
    height: 14px;
    font: 400 9px/14px consolas;
}

.menu .catalog .secdiv {
    position: absolute;
    top: 0;
    left: 210px;
    width: 800px;
    height: 466px;
    background: #fff;
    z-index: 600;
    display: none;
    padding-left: 30px;
}

.menu .catalog .secdiv li {
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px dashed #dfdfdf;
}

.menu .catalog .secdiv li a {
    float: left;
    display: inline-block;
    padding: 0 0 0 8px;
    margin-right: 10px;
    line-height: 24px;
    white-space: nowrap;
    font-size: 14px;
}

.menu .catalog .secdiv li a span {
    display: inline-block;
}

.menu .catalog .secdiv li a:hover {
    color: #C81623;
}

.menu .catalog .secdiv .nav-1 a {
    float: left;
    margin-right: 20px;
    padding: 0 0 0 8px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: #7c7171;
    color: #fff;
}

.menu .catalog .secdiv .nav-1 a.fir {
    background: #c81623;
}

.menu .catalog .secdiv .nav-1 a.fir i {
    background: #b1191a;
}

.menu .catalog .secdiv .nav-1 a:hover {
    background: #c81623;
    color: #fff
}

.menu .catalog .secdiv .nav-1 a:hover i {
    background: #b1191a;
}

.menu .catalog .secdiv .nav-1 a i {
    display: inline-block;
    _display: inline;
    margin-left: 8px;
    width: 23px;
    height: 24px;
    font: 400 9px/25px consolas;
    background: #5c5251;
    text-align: center;
    cursor: pointer;
}

.menu .w .banner {
    float: left;
    margin: 12px 10px 0 10px;
    width: 730px;
    height: 454px;
    position: relative;
}

.menu .w .banner .imgWrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../img/loading.gif") center center no-repeat #fff;
}

.banner .imgWrap div {
    width: 730px;
    height: 454px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    text-align: center;

}

.banner ul {
    position: absolute;
    bottom: 20px;
    left: 285px;
    z-index: 10;
}

.banner ul li {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    line-height: 20px;
    color: #fff;
    background: #0db8ff;
    text-align: center;
    cursor: pointer;
}

.banner ul li.bg {
    background: pink;
}

.banner a {
    position: absolute;
    width: 30px;
    height: 45px;
    top: 200px;
    background: url("../img/pre.png") no-repeat;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 10;
    display: none;
}

.banner a:hover {
    opacity: .8;
    filter: alpha(opacity=80);
}

.banner:hover a {
    display: block;
}

.banner .btnLeft {
    left: 15px;
    background-position: 0 0;
}

.banner .btnRight {
    right: 15px;
    background-position: -50px 0;
}

.news {
    float: right;
    margin-top: 12px;
    width: 250px;
    height: 454px;
}

.news .news-top {
    width: 248px;
    height: 162px;
    border: 1px solid #e4e4e4;
    background: #FFFFFF;
}

.news .news-top .news-nav {
    padding-left: 20px;
    width: 100%;
    height: 32px;
    border-bottom: 1px dashed #e4e4e4;
}

.news .news-top .news-nav h2, .news .news-top .news-nav a {
    float: left;
    line-height: 32px;
    text-align: center;
    color: #666;
}

.news .news-top .news-nav h2 {
    font-size: 16px;
    font-family: "microsoft yahei";
    font-weight: 400;
    margin-right: 100px;
}

.news .news-top .news-content {
    padding-left: 20px;
    padding-top: 5px;
}

.news .news-top .news-content li {
    height: 24px;
    line-height: 24px;
}

.news .news-top .news-content li span {
    font-weight: 800;
    margin-right: 5px;
}

.news .news-top .news-content li a {
    color: #666;
}

.news .news-top .news-content li .bg {
    color: #C81623;
}

.news .mc {
    position: relative;
    overflow: hidden;
}

.news .mc ul {
    width: 249px;
    height: 209px;
    border: 1px solid #E8E8E7;
    border-top: none;
    border-right: none;
    background: #FFFFFF;
}

.news .mc .mc-hidden {
    width: 249px;
    height: 209px;
    border: 1px solid #E8E8E7;
    border-top: none;
    border-right: none;
    background: #FFFFFF;
    position: absolute;
    left: 0;
    top: 210px;
}

.mc .mc-hidden .inner {
    width: 249px;
    height: 0;
    overflow: hidden;
    border-right: 1px solid #E8E8E7;
    border-bottom: 1px solid #E8E8E7;
    text-align: center;
}

.mc .mc-hidden .inner li {
    height: 27px;
    line-height: 27px;
}

.mc .mc-hidden .inner li.bg {
    border-bottom: none;
    height: 26px;
    border-top: 2px solid #c81623;
    background: #fff;
}

.mc .mc-hidden .outer {
    width: 250px;
    height: 190px;
    position: relative;
}

.mc .mc-hidden a.close {
    position: absolute;
    z-index: 1;
    right: 5px;
    top: 30px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

.mc .mc-hidden a.close:hover {
    background: black;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.mc .mc-hidden .outer .firDiv {
    width: 250px;
    height: 190px;
    display: none;
}

.mc .mc-hidden .outer .firDiv.show {
    display: block;
}

.outer .firDiv .inner2 {
    width: 200px;
    height: 20px;
    margin: 10px 0;
    border: none;
}

.outer .firDiv .inner2 li {
    float: left;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    border: none;
}

.outer .firDiv .inner2 li.bg {
    background: red;

}

.outer .firDiv .inner2 li.bg a {
    color: #fff;
}

#mc-hidden .firDiv .inner2 li.bg a:hover {
    color: #fff;
}

.outer .firDiv .outer2 {
    margin: 4px 0 0 0
}

.outer .firDiv .outer2 div {
    display: none;
}

.outer .firDiv .outer2 div.show {
    display: block;
}

.outer .firDiv .outer2 a {
    float: left;
    width: 65px;
    margin: 0 5px
}

.outer .firDiv .outer2 .hot {
    width: 200px;
    margin: 18px 5px;
    height: 15px;
    line-height: 15px;
}

.outer .firDiv .outer2 .hot span {
    display: inline-block;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
    background: red;
    color: #fff;
}

.outer .firDiv .outer2 a img {
    width: 65px;
    height: 90px;
    border: 0;
    display: block;
}

.news .mc li {
    position: relative;
    float: left;
    display: inline;
    width: 61px;
    height: 69px;
    border-right: 1px solid #E8E8E7;
    border-bottom: 1px solid #E8E8E7;
    overflow: hidden;
    cursor: pointer;
}

.news .mc li em, .news .mc li span {
    position: absolute;
}

.news .mc li em {
    top: 13px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url("../img/news.png") no-repeat 0 0;
}

.news .mc li em.f-2 {
    background-position: 0 -25px;
}

.news .mc li em.f-3 {
    background-position: 0 -50px;
}

.news .mc li em.f-4 {
    background-position: 0 -75px;
}

.news .mc li em.f-5 {
    background-position: 0 -100px;
}

.news .mc li em.f-5 {
    background-position: 0 -125px;
}

.news .mc li em.f-7 {
    background-position: 0 -150px;
}

.news .mc li em.f-8 {
    background-position: 0 -175px;
}

.news .mc li em.f-9 {
    background-position: 0 -200px;
}

.news .mc li em.f-10 {
    background-position: 0 -225px;
}

.news .mc li em.f-11 {
    background-position: 0 -250px;
}

.news .mc li em.f-12 {
    background-position: 0 -275px;
}

.news .mc li span {
    width: 62px;
    bottom: 10px;
    left: 0;
    color: #666;
    text-align: center;
}

.news .mc li:hover span {
    color: #C81623;
}

.news .news-img {
    width: 250px;
    height: 75px;
    margin-top: 5px;
}

.menu .menu-Imgs {
    clear: both;
    margin: 10px auto 20px auto;
    width: 1210px;
    height: 164px;
}

/*-------京东小时钟--------*/
.menu-Imgs .firImg {
    position: relative;
    float: left;
    width: 210px;
    height: 151px;;
    background: url(//misc.360buyimg.com/product/home/1.0.0/css/i/homebg.png) no-repeat 0 -136px;
}

.jd-clock {
    position: absolute;
    left: 72px;
    top: 31px;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    border: 7px solid #fff;
}

.jd-clock::before {
    content: "";
    position: absolute;
    left: 18px;
    top: 18px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
}

.jd-clock .jd-clock-h {
    position: absolute;
    top: 5px;
    left: 19px;
    height: 19px;
    width: 5px;
    background-color: #fff;
    border-radius: 2px;
    transform: rotate(10deg);
    -webkit-transform-origin: 2.5px 16.5px;
    -moz-transform-origin: 2.5px 16.5px;
    transform-origin: 2.5px 16.5px;
}

.jd-clock .jd-clock-m {
    position: absolute;
    left: 5px;
    top: 19px;
    width: 19px;
    height: 5px;
    background: 0 0;
    border-radius: 2px;
}

.jd-clock .jd-clock-m::after {
    content: "";
    position: absolute;
    left: 14px;
    top: -17px;
    width: 5px;
    height: 21px;
    background-color: #fff;
    border-radius: 2px;
    -webkit-transform-origin: 2.5px 19.5px;
    -webkit-animation: tick-tock 20s steps(60, end) infinite;
    -moz-transform-origin: 2.5px 19.5px;
    -moz-animation: tick-tock 20s steps(60, end) infinite;
    transform-origin: 2.5px 19.5px;
    animation: tick-tock 20s steps(60, end) infinite;
}

.jd-clock .jd-clock-s {
    position: absolute;
    left: 19px;
    top: -6px;
    width: 5px;
    height: 28px;
    -webkit-transform-origin: bottom;
    -webkit-animation: tick-tock 10s linear infinite;
    -moz-transform-origin: bottom;
    -moz-animation: tick-tock 10s linear infinite;
    transform-origin: bottom;
    animation: tick-tock 10s linear infinite;
}

.jd-clock-s:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 5px;
    background-color: #5e5252;
    border-radius: 50%;
}

@-webkit-keyframes tick-tock {
    to {
        transform: rotate(360deg);
    }
}

.menu-Imgs .img-banner {
    float: left;
    width: 1000px;
    height: 164px;
    position: relative;
    overflow: hidden;
}

.menu-Imgs .img-banner div {
    width: 1000px;
    height: 164px;
    background: url("../img/loading.gif") center center no-repeat #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.menu-Imgs ul {
    float: left;
    width: 1000px;
    height: 164px;
}

.menu-Imgs ul li {
    width: 249px;
    height: 164px;
    margin-right: 1px;
    float: left;
    overflow: hidden;
}

.menu-Imgs ul li img {
    width: 250px;
    height: 164px;
}

.menu-Imgs div .btnLeft, .menu-Imgs div .btnRight {
    position: absolute;
    width: 30px;
    height: 45px;
    top: 50px;
    background: url("../img/pre.png") no-repeat;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 10;
    display: none;
}

.menu-Imgs div .btnLeft:hover, .menu-Imgs div .btnRight:hover {
    opacity: .8;
    filter: alpha(opacity=80);
}

.menu-Imgs div:hover a {
    display: block;
}

.menu-Imgs div .btnLeft {
    left: 15px;
    background-position: 0 0;
}

.menu-Imgs div .btnRight {
    right: 15px;
    background-position: -50px 0;
}

/**********  MENU  END  **************/
.img-load {
    clear: both;
    width: 100%;
}

.img-load .tittle {
    width: 386px;
    height: 51px;
    background: url("../img/jd2016-618.png") no-repeat;
    margin: 0 auto;
    margin-bottom: 10px;
}

.img-load .firTiT {
    background-position: 24px -52px;
}

.img-load .I-firUl {
    width: 1220px;
    height: 210px;
    margin-left: -10px;
    margin-bottom: 10px;
}

.img-load .I-firUl li {
    float: left;
    height: 210px;
    margin-left: 10px;
    width: 396px;
}

.img-load .I-firUl li img {
    width: 100%;
    height: 100%;
}

.img-load .I-firDiv {
    width: 1208px;
    height: 353px;
    border: 1px solid #EDEDED;
}

.img-load .I-firDiv .I-secUl {
    width: 606px;
    height: 354px;
    margin-left: -1px;
    margin-top: -1px;
    overflow: hidden;
    float: left;
}

.img-load .I-firDiv .I-secUl li {
    float: left;
    width: 302px;
    height: 176px;
    border-top: 1px solid #EDEDED;
    border-left: 1px solid #EDEDED;
    overflow: hidden;
    position: relative;
}

.img-load .I-firDiv .I-secUl li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #666;
    text-decoration: none
}

.I-secUl li a .img1 {
    position: absolute;
    left: 8px;
    top: 14px;
    width: 100px;
    height: 36px;
}

.I-secUl li a .img2 {
    position: absolute;
    right: 62px;
    top: 12px;
    width: 120px;
    height: 120px;
}

.I-secUl li a p {
    position: absolute;
    right: 62px;
    top: 140px;
    width: 120px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}

.I-secUl li a p:hover {
    color: #C81623;
}

.img-load .I-firDiv .I-thrUl {
    width: 600px;
    height: 354px;
    float: right;
    overflow: hidden;
    margin-top: -1px;
}

.img-load .I-firDiv .I-thrUl li {
    float: left;
    width: 149px;
    border-top: 1px solid #EDEDED;
    border-left: 1px solid #EDEDED;
    height: 58px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.I-thrUl li a {
    display: block;
    width: 100%;
    height: 100%;
}

.I-thrUl li a img {
    display: block;
    width: 100%;
    height: 100%;
}

.I-thrUl li a div {
    width: 149px;
    height: 58px;
    position: absolute;
    left: -149px;
    top: 0;
    /*display: none;*/
    background: #333;
    background-color: rgba(0, 0, 0, .8);
}

.I-thrUl li a div p {
    padding-top: 13px;
    width: 100%;
    text-align: center;
    line-height: 18px;
    font-size: 13px;
    color: #fff;
}

/*.I-thrUl li a:hover div {
    display: block;
}*/

.img-load .I-fourUl {
    margin-left: -10px;
    width: 1220px;
    height: 450px;
    overflow: hidden;
}

.img-load .I-fourUl li {
    margin-left: 10px;
    float: left;
}

.img-load .I-fourUl li img {
    margin-top: 0;
    margin-left: 0
}

.img-load .I-fourUl .t-li {
    width: 396px;
    height: 220px;
    padding-top: 10px;
}

.img-load .I-fourUl .t-li img {
    width: 396px;
    height: 210px;
}

.img-load .I-fourUl .top-220 {
    width: 398px;
    height: 220px;
    padding: 0;
}

.img-load .I-fourUl .top-220 img {
    width: 398px;
    height: 220px;
}

.img-load .I-fourUl .bot-img {
    width: 193px;
    height: 220px;
}

.img-load .I-fourUl .bot-img img {
    width: 193px;
    height: 200px;
}

.img-load .I-secDiv {
    clear: both;
    width: 1210px;
    height: 140px;
}

.img-load .I-secDiv .I-fiveUl {
    margin: 0 5px;
    width: 1200px;
    height: 125px;
}

.img-load .I-secDiv .I-fiveUl li {
    float: left;
    width: 400px;
    height: 100%;
}

.img-load .I-secDiv .I-fiveUl li img {
    width: 100%;
    height: 100%;
}

/***********   TOP  END  ****************/

.building .floor {
    height: 578px;
    margin-bottom: 30px;
    clear: both;
}

.building .firFloor {
    height: 737px;
}

.building .clothes {
    overflow: hidden;
}

.building .nav {
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #c81623;
    position: relative;
    clear: both;
}

.building .nav h2 {
    position: relative;
    padding-left: 40px;
    color: #333;
    float: left;
    display: inline;
    line-height: 30px;
    font-size: 20px;
    font-family: "microsoft yahei";
    font-weight: 400;
}

.building .nav h2 i {
    -webkit-animation-name: scaleDisc;
    -moz-animation-name: scaleDisc;
    animation-name: scaleDisc;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    position: absolute;
    top: 2px;
    left: 0;
    width: 21px;
    height: 25px;
    padding-right: 10px;
    background: url(../img/floor1new.png) no-repeat 0 0;
    font-size: 13px;
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.building .nav h2:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 31px;
    height: 25px;
    background: url(../img/product_home_1.0.0.png) no-repeat 0 0;
}

.building .nav .tab {
    float: right;
    display: inline-block;
    border: solid 1px #ededed;
    border-bottom: 0 none;
    height: 34px;
    line-height: 34px;
    background: paleturquoise;
}

.building .nav .tab .tab-item {
    float: left;
    height: 34px;
    position: relative;
}

.nav .tab .tab-item a {
    float: left;
    height: 34px;
    padding: 0 16px;
    text-decoration: none;
    line-height: 34px;
    overflow: hidden;
    background: #fff;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
    white-space: nowrap;
    color: #666;
}

.nav .tab .select-tab a {
    position: absolute;
    white-space: nowrap;
    border-left: solid 1px #c81623;
    border-right: solid 1px #c81623;
    border-top: solid 3px #c81623;
    top: -1px;
    left: -1px;
    height: 34px;
    line-height: 30px;
    color: #c81623;
    text-indent: 1px;
    overflow: hidden;
}

.nav .tab .tab-item span {
    position: absolute;
    width: 1px;
    background: #ccc;
    overflow: hidden;
    height: 14px;
    top: 10px;
    right: 0;
}

.nav .tab .select-tab span {
    display: none;
}

.building .left-side {
    clear: both;
    float: left;
    width: 330px;
    overflow: hidden;
    font-family: "microsoft yahei";
    position: absolute;
}

.building .left-side .p-img {
    float: left;
    width: 100%;
    position: relative;
    height: 474px;
}

.building .left-side .p-img a {
    display: block;
    height: 475px;
}

.building .left-side .p-img a:before {
    content: "";
    position: absolute;
    width: 80px;
    height: 350px;
    top: 0;
    left: -150px;
    overflow: hidden;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, .2)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, 0) 100%);
    -webkit-transform: skewX(-25deg);
    -moz-transform: skewX(-25deg);
}

.building .p-img a:hover::before {
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    transition: left 1s;
    left: 260px;
}

.left-side .p-img img {
    width: 330px;
    height: 474px;
}

.building .themes {
    position: absolute;
    left: 0;
    top: 238px;
    padding-left: 10px;
    height: 92px;
    overflow: hidden;
    background: rgba(255, 255, 255, .5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88FFFFFF, endColorstr=#88FFFFFF);
}

.building .clothes .themes {
    top: 253px;
}

.building .themes li {
    float: left;
    width: 98px;
    height: 26px;
    padding: 10px 0;
}

.themes .icon {
    width: 26px;
    margin-right: 5px;
}

.themes span {
    font-size: 14px;
    margin-right: 5px;
}

.themes span:hover {
    color: #c81623;
}

.themes i, .themes span {
    float: left;
    height: 26px;
    overflow: hidden;
    line-height: 26px;
}

.building .firFloor .themes {
    padding-left: 25px;
}

.building .firFloor .themes li {
    width: 100px;
}

.themes .fore1 .icon {
    background: url(//misc.360buyimg.com/product/home/1.0.0/widget/clothes/i/clothesicon.png) 0 0 no-repeat;
    _background: url(//misc.360buyimg.com/product/home/1.0.0/widget/clothes/i/clothesicon8.png) 0 0 no-repeat;
}

.building .words {
    width: 100%;
    position: absolute;
    height: 76px;
    top: 399px;
    background: rgba(255, 255, 255, .7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BBFFFFFF, endColorstr=#BBFFFFFF);
    font-family: \5b8b\4f53;
}

.building .clothes .words {
    top: 345px;
    height: 128px;
    border-bottom: 1px solid #ededed;
}

.words li {
    position: absolute;
    float: left;
    width: 135px;
    height: 48px;
    padding: 7px 0 0 25px;
    overflow: hidden;
}

.building .words {
    height: 76px;
    padding-top: 0;
}

.building .words li a {
    margin-right: 10px;
    line-height: 24px;
    white-space: nowrap;
}

.building .clothes .words li {
    height: 96px;
    padding-top: 16px;
}

.building .clothes .words .fore2 {
    left: 160px;
}

.side-extra {
    width: 328px;
    height: 158px;
    border: 1px solid #ededed;
    border-left: 1px solid #f7f5ee;
    border-top: 0;
    overflow: hidden;
}

.side-extra img {
    width: 328px;
    height: 157px;
}

.building .main {
    width: 880px;
    height: 474px;
    float: right;
    position: relative;
    display: none;
}

.building .main.main-selected {
    display: block;
}

.building .main li {
    width: 220px;
    overflow: hidden;
}

.main-inner li a {
    display: block;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    overflow: hidden;
}

.clothes .main {
    height: 633px;
}

.main .main-body {
    float: left;
    width: 660px;
}

.clothes .main-body li {
    float: left;
    height: 158px;
    overflow: hidden;
}

.clothes .main-body .fore1 {
    width: 440px;
}

.clothes .main-body li img {
    width: 100%;
    height: 100%;
}

.clothes .main-body li.fore2 {
    width: 440px;
    height: 159px;
    padding-top: 316px;
}

.clothes .main-body li.fore3, .clothes .main-body li.fore4, .clothes .main-body li.fore5, .clothes .main-body li.fore6 {
    float: right;
    width: 220px;
    height: 158px;

    /*为什么需要拿magin-top挤*/
}

.clothes .main-body li.fore3 {
    margin-top: -158px;
}

.clothes .main-extra li {
    height: 158px;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 439px;
    height: 236px;
    overflow: hidden;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

.clothes .slider {
    top: 158px;
    height: 315px;
}

.slider .box {
    width: 439px;
    height: 315px;
    position: relative;
    overflow: hidden;
    background: url("../img/loading.gif") center center no-repeat #fff;
}

.slider .box .imgWrap {
    width: 439px;
    height: 315px;
    position: absolute;
    left: 0;
    top: 0;
}

.slider .box .imgWrap div {
    width: 439px;
    height: 315px;
    float: left;
}

/*8******* A标签到时候用JS显示就可以了******/
.slider .box ul {
    position: absolute;
    bottom: 10px;
    left: 40%;
}

.slider .box ul li {
    width: 10px;
    height: 10px;
    background: #ccc;
    float: left;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.slider .box ul li.bg {
    background: lightblue;
}

.slider .box .btnLeft, .slider .box .btnRight {
    width: 30px;
    height: 45px;
    background-image: url("../img/pre.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    opacity: 0.5;
    filter: 'alpha(opacity=50)';
    display: none;
}

.slider .box a:hover {
    opacity: 1;
    filter: 'alpha(opacity=100)'
}

.slider .box a.btnLeft {
    background-position: 0 0;
    left: 20px;
    top: 45%;
}

.slider .box a.btnRight {
    background-position: -50px 0;
    right: 20px;
    top: 45%;
}

.building .p-list li {
    float: left;
    width: 160px;
    height: 230px;
    padding: 6px 17px 0;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    overflow: hidden;
}

.clothes .p-list li {
    width: 185px;
}

.p-list li .p-img {
    height: 140px;
    margin-bottom: 4px;
    text-align: center;
    padding-top: 15px;
}

.p-list li .p-name {
    line-height: 16px;
}

.p-list li .p-price {
    margin-top: 5px;
    font-size: 15px;
    font-family: Verdana;
    color: #E4393C;
}

.img-list {
    width: 890px;
    height: 159px;
    overflow: hidden;
}

.main .img-list li {
    float: left;
    width: 219px;
    height: 158px;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

.brands {
    clear: both;
    background: #f7f7f7;
    padding: 13px 0 13px 11px;
    margin-top: 10px;
}

.brands ul {
    height: 40px;
    overflow: hidden;
    font-size: 0;
    width: 1210px;
    margin-left: -1px;
}

.brands ul li {
    float: left;
    width: 120px;
    height: 40px;
    border-left: 1px dotted #ccc;
    text-align: center;
}

.brands ul li img {
    width: 100px;
    height: 40px;
}

.brands ul .fore1 {
    border-left: none;
}

.cosmetics .left-side {
    width: 210px;
}

.cosmetics .left-side .p-img img {
    width: 100%;
    height: 100%;
}

.floor .assists {
    position: absolute;
    top: 329px;
    height: 48px;
    width: 100%;
    padding: 21px 0 0;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    background: rgba(255, 255, 255, .7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#BBFFFFFF, endColorstr=#BBFFFFFF);
    border-bottom: 1px solid #f7f5ee;
}

.floor .assists li {
    font-size: 14px;
    line-height: 24px;
    float: left;
    width: 180px;
    height: 24px;
    padding-left: 25px;
    overflow: hidden;
}

.floor .assists li a {
    white-space: nowrap;
}

.building .cosmetics .main {
    width: 1000px;
}

.building .cosmetics .main .slider {
    float: left;
    width: 339px;
    height: 473px;
}

.building .cosmetics .main .slider .box {
    width: 339px;
    height: 473px;
}

.building .cosmetics .main .slider .box img {
    width: 100%;
    height: 100%;
}

.cosmetics .slider .box .imgWrap div {
    width: 339px;
    height: 473px;
}

.cosmetics .main-inner {
    padding-left: 340px;
}

.cosmetics .main-body {
    width: 440px;
}

.cosmetics .main-body li {
    float: left;
    width: 220px;
    height: 177px;
}

.cosmetics .main-body .fore1, .cosmetics .main-body .fore2 {
    height: 297px;
}

.cosmetics .main-extra .fore1 {
    height: 297px;
}

.cosmetics .main-extra li {
    float: left;
    width: 220px;
    height: 177px;
}

.main-content {
    overflow: hidden;
}

.sale {
    clear: both;
    height: 339px;
    overflow: hidden;
}

.sale .sale-left {
    width: 900px;
    margin-bottom: 20px;
    float: left;
}

.sale-left .left-top {
    height: 36px;
}

.sale-left .left-top h2 {
    padding-right: 232px;
    background: 0 0;
    float: left;
    display: inline;
    line-height: 30px;
    font-size: 20px;
    font-family: "microsoft yahei";
    font-weight: 400;
}

.sale-left .left-main {
    width: 899px;
    height: 281px;
    border: solid #E5E5E5;
    border-width: 1px 0 1px 1px;
}

.sale-left .left-main ul {
    width: 900px;
}

.sale-left .left-main li {
    float: left;
    width: 199px;
    height: 104px;
    padding: 18px 10px;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    overflow: hidden;
}

.sale-left .left-main li img {
    vertical-align: middle;
    float: left;
    width: 100px;
    height: 100px;
    -webkit-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -ms-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.sale-left .left-main .fore1 {
    width: 219px;
    height: 245px;
}

.sale-left .left-main .fore1 .p-img {
    width: 219px;
    height: 180px;
    margin-bottom: 10px;
    text-align: center;
}

.sale-left .left-main .fore1 .p-img img {
    vertical-align: middle;
    margin-left: 30px;
    width: 160px;
    height: 160px;
}

.sale-left .left-main .fore1:hover .p-img img {
    margin-left: 0;
}

.sale-left .left-main li:hover .p-img img {
    margin-left: -10px;
}

.sale-left .left-main .p-name {
    height: 36px;
    margin-bottom: 6px;
    font-size: 12px;
    color: #666;
    word-break: break-all;
}

.sale-left .left-main .p-info {
    float: right;
    width: 94px;
}

.sale-left .left-main .fore1 .p-info {
    width: 200px;
}

.sale-left .left-main .fore1 .p-name {
    height: 18px;
}

.sale-left .left-main .p-price {
    margin-bottom: 5px;
}

.sale-left .left-main .fore1 .p-price {
    float: left;
}

.p-price span {
    color: #e12228;
    font-size: 16px;
    font-weight: 700;
}

.right-top {
    float: left;
    width: 310px;
    height: 36px;
}

.right-top h2 {
    float: left;
    display: inline;
    line-height: 30px;
    font-size: 20px;
}

.sale-right .right-main {
    float: left;
    width: 268px;
    height: 226px;
    padding: 35px 20px 20px;
    border: 1px solid #EDEDED;
}

.right-main .rolling {
    position: relative;
    overflow: hidden;
    height: 240px;
    width: 268px;
}

.right-main .rolling ul {
    position: absolute;
    width: 266px;
    left: 0;
    top: -960px;
}

.right-main .rolling ul li {
    height: 100px;
    margin-bottom: 20px;
    overflow: hidden;
}

.right-main .rolling .p-img {
    float: left;
    display: inline;
    padding: 10px 0;
    width: 80px;
    height: 80px;
}

.right-main .rolling .p-img img {
    width: 80px;
    height: 80px;
}

.right-main .rolling .p-info {
    float: left;
    display: inline;
    width: 166px;
    padding-left: 20px;
    margin-top: 3px;
}

.rolling .p-info .author-info {
    height: 28px;
    margin-bottom: 5px;
    /*overflow: hidden;*/
}

.author-info img {
    width: 28px;
    height: 28px;
    margin-right: 5px;
    border-radius: 50%;
    vertical-align: middle;
}

.author-info span {
    line-height: 28px;
}

.p-info .p-detail {
    position: relative;
    width: 130px;
    height: 34px;
    padding: 10px 15px 10px 20px;
    background: #f8f8f8;
    color: #999;
    overflow: visible;
}

.p-detail a, .p-detail p {
    display: block;
    height: 38px;
    line-height: 19px;
    overflow: hidden;
    word-break: break-all;
}

.p-detail .icon-r {
    font-size: 38px;
    line-height: 38px;
    color: #aaa;
    vertical-align: -24px;
    font-family: Arial;
}

.p-detail .icon-l {
    position: absolute;
    left: 4px;
    top: 7px;
    font-size: 38px;
    line-height: 38px;
    color: #aaa;
    font-family: Arial;
}

.detail-arrow {
    position: absolute;
    left: -9px;
    top: 19px;
    color: #f8f8f8;
    font-size: 20px;
}

.service-2016 {
    clear: both;
    height: 276px;
    margin-bottom: 20px;
}

.service-2016 .slogen {
    position: relative;
    height: 54px;
    padding: 20px 0;
    margin-bottom: 14px;
    background: #F5F5F5;
    text-align: center;
}

.slogen ul {
    width: 100%;
}

.slogen ul li {
    float: left;
    width: 302.5px;
    height: 54px;
}

.slogen ul li img {
    width: 220px;
    margin: 0 auto;
    height: 100%;
}

.service-2016 .service-bottom {
    height: 168px;
    width: 100%;
}

.service-bottom dl {
    width: 199px;
    float: left;
}

.service-bottom .last {
    width: 100px;
}

.service-bottom dl dt {
    padding: 6px 0;
    font: 400 16px/24px "microsoft yahei";
}

.service-bottom dl dd {
    line-height: 20px;
}

.service-bottom .coverage {
    float: right;
    width: 310px;
    height: 168px;
    background: url(../img/20130330B_1.png) no-repeat 60px -131px;
}

.coverage .dt {
    padding: 6px 40px 15px 80px;
    font: 400 16px/24px "microsoft yahei";
}

.coverage .dd {
    padding: 0 40px 15px 80px;
}

.coverage .dd .fore1 {
    text-align: right;
}

.all-end {
    height: 144px;
    border-top: 1px solid #E5E5E5;
    padding: 20px 0 30px;
    text-align: center;
}

.all-end .links a {
    margin: 0 10px;
}

.all-end .copyright {
    margin: 10px 0;
    height: 74px;
    line-height: 18px;
}

.all-end .footer a {
    margin-right: 10px;
}

.floorIndex {
    display: none;
    position: fixed;
    left: -3px;
    top: 50%;
    margin-top: -30px;
    width: 30px;
}

.floorIndex li {
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px dashed #ccc;
    cursor: pointer;
}
#btn{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background: #fff;
    box-shadow: 4px 4px 10px #000;
    border-radius: 50%;
    display: none;
}
