.spaceLi:hover .sunShine {
    display: block;
}
.sunShine{
    display: none;
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: -964px;
    z-index: 50;
    width: 1263px;
    height: 580px;
    background: black;
}
.wrapper {
    position: absolute;
    top: 50%;
    left:50%;
    z-index: 12;
    transform-style: preserve-3d;
    perspective: 800px;
}

.wrapper i {
    display: block;
    position: absolute;
    opacity: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: black;
    background: #FFFFFF;
    box-shadow: 0 0 10px 10px #FFFFFF;
    animation: myMove 4s linear infinite 0s;

}

.wrapper i:nth-child(1) {
    transform: rotate(0deg) translate3d(600px, 0, -1300px);
}
.wrapper i:nth-child(2) {
    transform: rotate(20deg) translate3d(600px, 0, -1300px);
}

.wrapper i:nth-child(3) {
    transform: rotate(40deg) translate3d(600px, 0, -1300px);
}

.wrapper i:nth-child(4) {
    transform: rotate(60deg) translate3d(600px, 0, -1300px);
}

.wrapper i:nth-child(5) {
    transform: rotate(80deg) translate3d(600px, 0, -1300px);
}

.wrapper i:nth-child(6) {
    transform: rotate(100deg) translate3d(600px, 0, -1300px);
}

.wrapper i:nth-child(7) {
    transform: rotate(120deg) translate3d(600px, 0, -1300px);
}

.wrapper i:nth-child(8) {
    transform: rotate(140deg) translate3d(600px, 0, -1300px);
}

.wrapper i:nth-child(9) {
    transform: rotate(160deg) translate3d(600px, 0, -1300px);
}

.wrapper i:nth-child(10) {
    transform: rotate(180deg) translate3d(600px, 0, -1300px);
}

.wrapper i:nth-child(11) {
    transform: rotate(200deg) translate3d(600px, 0, -1300px);
}

.wrapper i:nth-child(12) {
    transform: rotate(220deg) translate3d(600px, 0, -1300px);
}

.wrapper i:nth-child(13) {
    transform: rotate(240deg) translate3d(600px, 0, -1300px);
}

.wrapper i:nth-child(14) {
    transform: rotate(260deg) translate3d(600px, 0, -1300px);

}

.wrapper i:nth-child(15) {
    transform: rotate(280deg) translate3d(600px, 0, -1300px);

}

.wrapper i:nth-child(16) {
    transform: rotate(300deg) translate3d(600px, 0, -1300px);

}

.wrapper i:nth-child(17) {
    transform: rotate(320deg) translate3d(600px, 0, -1300px);

}

.wrapper i:nth-child(18) {
    transform: rotate(340deg) translate3d(600px, 0, -1300px);
}

.wrapper i:nth-child(19) {
    transform: rotate(360deg) translate3d(600px, 0, -1300px);
}

.wrapper i:nth-child(20) {
    transform: rotate(0deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(21) {
    transform: rotate(20deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(22) {
    transform: rotate(40deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(23) {
    transform: rotate(60deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(24) {
    transform: rotate(80deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(25) {
    transform: rotate(100deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(26) {
    transform: rotate(120deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(27) {
    transform: rotate(140deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(28) {
    transform: rotate(160deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(29) {
    transform: rotate(180deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper  i:nth-child(30) {
    transform: rotate(200deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(31) {
    transform: rotate(220deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(32) {
    transform: rotate(240deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(33) {
    transform: rotate(260deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(34) {
    transform: rotate(280deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(35) {
    transform: rotate(300deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(36) {
    transform: rotate(320deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(37) {
    transform: rotate(340deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(38) {
    transform: rotate(360deg) translate3d(600px, 0, -1300px);
    animation-delay: 1s;
}

.wrapper i:nth-child(39) {
    transform: rotate(0deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(40) {
    transform: rotate(20deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(41) {
    transform: rotate(40deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(42) {
    transform: rotate(60deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(43) {
    transform: rotate(80deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(44) {
    transform: rotate(100deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(45) {
    transform: rotate(120deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(46) {
    transform: rotate(140deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(47) {
    transform: rotate(160deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(48) {
    transform: rotate(180deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(49) {
    transform: rotate(200deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(50) {
    transform: rotate(220deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(51) {
    transform: rotate(240deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(52) {
    transform: rotate(260deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(53) {
    transform: rotate(280deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(54) {
    transform: rotate(300deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(55) {
    transform: rotate(320deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(56) {
    transform: rotate(340deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

.wrapper i:nth-child(57) {
    transform: rotate(360deg) translate3d(600px, 0, -1300px);
    animation-delay: 2s;
}

@keyframes myMove {
    80% {
        opacity: 0.5;
        transform: translate3d(0px, 0px, 0px);
    }
    100% {
        opacity: 1;
        box-shadow: 0 0 10px 0 #FFFFFF;
        transform: translate3d(0px, 0px, 800px);
    }
}

